<section class="banner">
  <header>
    <img class="logo" src="../assets/images/Group 4863931.png" />
    <div class="btn-border">
      <button class="btn">Get Started</button>
    </div>
  </header>
  <div class="banner-content">
    <div class="banner-title">
      Webflow<br>
      Maintenance<br>
      and Support
    </div>
    <div class="banner-text">
      Keep your site up and running like new with <br> our Webflow maintenance services.
    </div>
    <div class="btns">
      <button class="button" style="padding: 10px 25px;color: #fff;margin: 0;">See Our Plan</button>
      <button class="btn" style="padding: 10px 25px;">Get Started</button>
    </div>
  </div>
  <div class="rating-images">
    <div class="rating">
      <img class="g-rating" src="../assets/images/g-rating.png" />
    </div>
    <div class="rating">
      <img class="g-rating" src="../assets/images/c-rating.png" />
    </div>
  </div>
  <img class="banner-image" src="../assets/images/banner.png">
  <svg class="custom-path" xmlns="http://www.w3.org/2000/svg" width="1440" height="604" viewBox="0 0 1440 604"
    fill="none">
    <path
      d="M1554.5 528.5C1497.33 566.167 1297.7 608 956.499 474C529.999 306.5 73.9994 463 -21.5006 564C-97.9006 644.8 -96.3339 353.333 -86.0006 197.5C156.333 270.333 700.599 325.2 938.999 -38"
      stroke="url(#paint0_linear_1_1735)" stroke-opacity="0.3" stroke-width="51" />
    <defs>
      <linearGradient id="paint0_linear_1_1735" x1="135.5" y1="364" x2="1006.5" y2="90.5"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="white" />
        <stop offset="1" stop-color="#B1CBFA" />
      </linearGradient>
    </defs>
  </svg>
  <svg class="blue-patch" xmlns="http://www.w3.org/2000/svg" width="517" height="396" viewBox="0 0 517 396" fill="none">
    <path
      d="M516.305 93.4764C516.305 260.266 308.841 395.476 155.305 395.476C1.77071 395.476 -122.695 260.266 -122.695 93.4764C-282.695 -465.523 -15.2293 -78.5236 138.305 -78.5236C291.841 -78.5236 516.305 -73.3136 516.305 93.4764Z"
      fill="#204EF0" />
  </svg>
  <svg class="light-blue-patch" xmlns="http://www.w3.org/2000/svg" width="330" height="426" viewBox="0 0 330 426"
    fill="none">
    <path
      d="M-150.322 394.097C-87.1931 480.055 65.1828 475.413 190.019 383.731C314.854 292.048 364.877 148.043 301.748 62.0851C238.619 -23.8724 86.2429 -19.2312 -38.5929 72.4514C-163.429 164.134 -213.452 308.14 -150.322 394.097Z"
      fill="#D6FBEE" />
  </svg>
  <svg class="purple-patch" xmlns="http://www.w3.org/2000/svg" width="601" height="255" viewBox="0 0 601 255"
    fill="none">
    <path
      d="M485.336 647.608C616.001 569.111 639.156 367.698 537.053 197.738C434.951 27.7791 246.255 -46.3661 115.59 32.1305C-15.075 110.627 -38.2296 312.041 63.8729 482C165.975 651.959 354.671 726.104 485.336 647.608Z"
      fill="#CDD7F9" />
  </svg>
</section>



<section class="clients">
  <div class="title">Clients that love us</div>
  <div class="partners">
    <img class="partner-logo" src="../assets/images/ll1.png">
    <img class="partner-logo" src="../assets/images/ll2.png">
    <img class="partner-logo" src="../assets/images/ll3.png">
    <img class="partner-logo" src="../assets/images/ll4.png">
    <img class="partner-logo" src="../assets/images/ll5.png">
  </div>
  <div class="container">
    <div class="title text-center">Our Webflow maintenance services</div>
    <div class="sub-title">Keep your Webflow website running like a well-oiled machine with our maintenance services.
    </div>
    <div class="card-grid">
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/union.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Bug fixes</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/MAXIMIZE.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Fixing Responsive Issues
          </div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/LINK.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">3rd-party integrations</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/flash.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Page speed improvements</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/search.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">On-page SEO</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/note.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Content + Image updates</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/people.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Accessibility considerations
          </div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/audit.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Audit checks</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/cms.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">CMS enhancements</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/keyboard-open.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Custom Developments</div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/audit.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">Animations and interactions
          </div>
        </div>
      </div>
      <div class="card-border">
        <div class="card">
          <img class="card-icon" src="../assets/images/layers.png" loading="lazy" width="38" alt="" />
          <div class="grid-text">New pages and Features</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="comment-section">
  <div class="blue-oval"></div>
  <div class="light-blue-oval"></div>
  <div class="purple-oval"></div>
  <div class="w-layout-grid grid-2">
    <div></div>
    <div class="title">They love our service</div>
    <div class="w-layout-vflex">
      <div class="image-card">
        <img src="../assets/images/girl.png" loading="lazy" width="270" sizes="270px" alt="" class="image" />
        <div class="image-data">
          <div class="girl-name">Hannah Barganier</div>
          <div class="text-block-3">Lead UX &amp; Product Designer, AWS</div>
        </div>
      </div>
    </div>
    <div class="div-block-4">
      <img class="quote-logo" src="../assets/images/quote.png" loading="lazy" width="35" alt="" />
      <p class="paragraph">The team did a great job with a quick turnaround on my webflow site build. They quickly
        got on zoom to discuss the project and understand the scope. Once we agreed on a timeline and they understood my
        specific requests they got started within a day or so..
      </p>
      <a href="#" class="viewMore">View More</a>
    </div>
  </div>
</section>
<section class="plan-section">
  <h1 class="title">Webflow maintenance plans</h1>
  <p class="sub-title">Our maintenance plans will keep your Webflow website running at its best. We will take care of
    everything for you - from updates to security to backups. Sign up for our maintenance plan, and never worry about
    your website going down again.<br /><br />Need a custom plan? Just let us know.</p>
  <div class="service-rate">
    <div class="columns w-row" style="margin-top: 30px;">
      <div class="w-col w-col-4">
        <div class="p-title">Maintenance Blocks</div>
        <div class="text-block-5">(Pre-Paid)</div>
      </div>
      <div class="w-col w-col-4">
        <div class="p-title">Ongoing Maintenance</div>
        <div class="text-block-5">(Subscription)</div>
      </div>
      <div class="w-col w-col-4">
        <div class="p-title">Hourly Rate</div>
        <div class="text-block-5">(If not a Block or Ongoing)</div>
      </div>
    </div>
    <div class="columns lines">
      <div class="w-col w-col-4 w-head"></div>
      <div class="w-col w-col-4 w-head"></div>
      <div class="w-col w-col-4 w-head"></div>
    </div>
    <div class="div-block-7">
      <div class="columns-2 w-row">
        <address class="w-col w-col-6">
          <div class="w-layout-hflex flex-block-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
              <path opacity="0.3"
                d="M14.577 21.0352C14.9663 19.2458 15.8894 17.6105 17.23 16.3354C18.5701 15.0605 20.2673 14.2042 22.1057 13.8749L27 13L22.1054 12.1251H22.1058C20.2674 11.7958 18.5702 10.9395 17.2301 9.66455C15.8895 8.38963 14.9665 6.75418 14.5771 4.9648L13.5 0L12.423 4.9648C12.0337 6.75418 11.1105 8.38952 9.77 9.66455C8.42988 10.9395 6.73274 11.7958 4.8943 12.1251L0 13L4.89462 13.8749H4.89421C6.73265 14.2042 8.42978 15.0605 9.76991 16.3354C11.1105 17.6104 12.0335 19.2458 12.4229 21.0352L13.5 26L14.577 21.0352Z"
                fill="white" />
            </svg>
            <div class="text-block-4">Service</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
              <path opacity="0.3"
                d="M14.577 21.0352C14.9663 19.2458 15.8894 17.6105 17.23 16.3354C18.5701 15.0605 20.2673 14.2042 22.1057 13.8749L27 13L22.1054 12.1251H22.1058C20.2674 11.7958 18.5702 10.9395 17.2301 9.66455C15.8895 8.38963 14.9665 6.75418 14.5771 4.9648L13.5 0L12.423 4.9648C12.0337 6.75418 11.1105 8.38952 9.77 9.66455C8.42988 10.9395 6.73274 11.7958 4.8943 12.1251L0 13L4.89462 13.8749H4.89421C6.73265 14.2042 8.42978 15.0605 9.76991 16.3354C11.1105 17.6104 12.0335 19.2458 12.4229 21.0352L13.5 26L14.577 21.0352Z"
                fill="white" />
            </svg>
          </div>
        </address>
        <div class="w-col w-col-6">
          <div class="w-layout-hflex flex-block-2 flex-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
              <path opacity="0.3"
                d="M14.577 21.0352C14.9663 19.2458 15.8894 17.6105 17.23 16.3354C18.5701 15.0605 20.2673 14.2042 22.1057 13.8749L27 13L22.1054 12.1251H22.1058C20.2674 11.7958 18.5702 10.9395 17.2301 9.66455C15.8895 8.38963 14.9665 6.75418 14.5771 4.9648L13.5 0L12.423 4.9648C12.0337 6.75418 11.1105 8.38952 9.77 9.66455C8.42988 10.9395 6.73274 11.7958 4.8943 12.1251L0 13L4.89462 13.8749H4.89421C6.73265 14.2042 8.42978 15.0605 9.76991 16.3354C11.1105 17.6104 12.0335 19.2458 12.4229 21.0352L13.5 26L14.577 21.0352Z"
                fill="white" />
            </svg>
            <div class="text-block-4">Rate</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
              <path opacity="0.3"
                d="M14.577 21.0352C14.9663 19.2458 15.8894 17.6105 17.23 16.3354C18.5701 15.0605 20.2673 14.2042 22.1057 13.8749L27 13L22.1054 12.1251H22.1058C20.2674 11.7958 18.5702 10.9395 17.2301 9.66455C15.8895 8.38963 14.9665 6.75418 14.5771 4.9648L13.5 0L12.423 4.9648C12.0337 6.75418 11.1105 8.38952 9.77 9.66455C8.42988 10.9395 6.73274 11.7958 4.8943 12.1251L0 13L4.89462 13.8749H4.89421C6.73265 14.2042 8.42978 15.0605 9.76991 16.3354C11.1105 17.6104 12.0335 19.2458 12.4229 21.0352L13.5 26L14.577 21.0352Z"
                fill="white" />
            </svg>
          </div>
        </div>
      </div>
      <div class="columns-2 w-row">
        <div class="column w-col w-col-6">
          <div class="list">
            <div class="text-block-6">Website Development</div>
            <div class="text-block-6">Website Design</div>
            <div class="text-block-6">Website SEO</div>
            <div class="text-block-6">Basic Content Updates</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="list">
            <div class="text-block-6">$120/hour</div>
            <div class="text-block-6">$120/hour</div>
            <div class="text-block-6">$120/hour</div>
            <div class="text-block-6">$120/hour</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <p class="paragraph-2">or those that are not interested in the benefits of blocks or ongoing plans. Note: the hourly
    rate is then higher for this type of work.</p>
  <div class="div-block-5">
    <div class="div-block-6">
      <img class="logo-1" src="../assets/images/logo-new.png" loading="lazy" width="52" alt="" />
    </div>
    <div class="div-block-8">
      <p class="box-para">Need help with designs? We have excellent team of designers to cater your design &amp;
        branding needs</p><img src="../assets/images/star-vector.png" loading="lazy" width="20" alt="" class="star" />
    </div>
    <div class="div-block-9"><a href="#" class="button m-btn w-button">Contact us</a><img
        src="../assets/images/star-vector.png" loading="lazy" width="20" alt="" class="image-4" /></div>
  </div>
</section>
<section class="image-section section">
  <h1 class="heading-2">Don&#x27;t let your Webflow site fall behind - <br />sign up for a maintenance plan today!
  </h1><a href="#" class="button w-button">Get Started Now</a>
</section>

<section class="image-grid">
  <div class="images">
    <img src="../assets/images/i1.png" class="image-card">
    <img src="../assets/images/i9.png" class="image-card">
    <img src="../assets/images/i5.png" class="image-card">
    <img src="../assets/images/i2.png" class="image-card">
    <img src="../assets/images/i4.png" class="image-card">
    <img src="../assets/images/i8.png" class="image-card">
    <img src="../assets/images/i6.png" class="image-card">
    <img src="../assets/images/i7.png" class="image-card">
  </div>
</section>

<section class="maintainance">
  <div class="blue-oval"></div>
  <div class="light-blue-oval"></div>
  <div class="purple-oval"></div>
  <div class="title text-center">Why us for Webflow<br />maintenance?</div>
  <div class="div-block-12">
    <div class="div-block-10"></div>
    <div class="w-layout-grid grid-3"><img src="../assets/images/r1.png" loading="lazy" width="100" alt="" />
      <div class="div-block-11">
        <div class="title" style="font-weight: 400;">Webflow Certified experts</div>
        <div class="text-block-9">We are Webflow-certified experts. That means we know how to use Webflow to its
          fullest potential and can help you maintain and keep your website running smoothly without any disruptions
          or downtime.</div>
      </div>
    </div>
    <div class="div-block-10"></div>
    <div class="w-layout-grid grid-3"><img src="../assets/images/r2.png" loading="lazy" width="100" alt="" />
      <div class="div-block-11">
        <div class="title" style="font-weight: 400;">Quick turn around time</div>
        <div class="text-block-9">We know how important it is to keep your website up and running, which is why we
          offer fast turnarounds on all updates and fixes. Whether you need a quick fix or a more comprehensive
          solution, our team will work quickly and efficiently to keep your site running well.</div>
      </div>
    </div>
    <div class="div-block-10"></div>
    <div class="w-layout-grid grid-3"><img src="../assets/images/r3.png" loading="lazy" width="100" alt="" />
      <div class="div-block-11">
        <div class="title" style="font-weight: 400;">Reliable team</div>
        <div class="text-block-9">When you choose us, you get access to an experienced and reliable team of Webflow
          developers who are there for you whenever you need it. We will work with you to resolve any issues that come
          up and make sure your site stays online and functions properly.</div>
      </div>
    </div>
    <div class="div-block-10"></div>
    <div class="w-layout-grid grid-3"><img src="../assets/images/r4.png" loading="lazy" width="100" alt="" />
      <div class="div-block-11">
        <div class="title" style="font-weight: 400;">World-class support</div>
        <div class="text-block-9">When you sign up for our Webflow maintenance services, you&#x27;ll be assigned a
          dedicated project manager to oversee all maintenance and updates to your website, ensuring that your site is
          always up-to-date and running smoothly.</div>
      </div>
    </div>
    <div class="div-block-10"></div>
  </div>
</section>
<section class="faq">
  <h1 class="heading-3">FAQs</h1>
  <div class="accordian" *ngFor="let q of faqItems;let i = index" (click)="toggleAccordian(i)">
    <div class="question">
      <img class="star-arrow" src="../assets/images/star-gray.png" loading="lazy" width="30" alt="" />
      <div class="faq-text">{{ q.question}}</div>
      <img [ngClass]="openAccordianIndex.has(i) ? 'upArrow' : 'down-arrow'" src="../assets/images/Vector%2010.png" loading="lazy" width="18" alt="" />
    </div>
    <div class="answer" [ngClass]="openAccordianIndex.has(i) ? 'open' : null">
      {{ q.answer }}
    </div>
  </div>
</section>
<section class="footer">
  <div class="footer-blue"></div>
  <div class="footer-light-blue"></div>
  <div class="footer-purple"></div>
  <div class="f-title">
    <img src="../assets/images/Group%204863931.png" loading="lazy" alt="" />
    <a href="#" class="button f-btn w-button">Get Started Now</a>
  </div>
  <div class="menus">
    <a href="#" class="link-2">About Us</a>
    <a href="#" class="link-2">Testimonials</a>
    <a href="#" class="link-2">Our Plans</a>
    <a href="#" class="link-2">Our services</a>
    <a href="#" class="link-2">Why Us</a>
    <a href="#" class="link-2">FAQ</a>
  </div>
  <div class="div-block-10"></div>
  <div class="f-title">
    <a href="#" class="link-2">Privacy Policy</a>
    <a href="#" class="link-2">Copyright 2023</a>
  </div>
</section>